venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/bin/
env/include/
env/lib/
env/pyvenv.cfg
.env
.ipynb_checkpoints/
server_log.txt

# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Excluded by user request
requirements.txt
extras/
